:root {
    --primary-font-color: '#212529';
    --bg-color: #bdcfef;

    --fontSize-heading-lg: 3rem;
    --fontSize-heading-base: 2.8rem;
    --fontSize-text-base: 1rem;

    --sacramento: Sacramento, cursive;
    --arabic: 'Noto Naskh Arabic', serif;

    --shadow-md: 0 0 10px rgba(0, 0, 0, 0.3);

    --transition-small: all .3s ease;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary-font-color);
    overflow-y: hidden;
}

body.active {
    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    line-height: 1.7rem;
}

.audio button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    transform: translateX(200%);
    transition: 1.5s transform ease;
}

.audio button.show {
    transform: translateX(0);
}

.audio button.active {
    animation: rotate 3s linear infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(-0.8rem);
    }
    50% {
        transform: translateY(0.8rem);
    }
}
.fa-heart {
    font-size: 1.5em;
    color: red;
    animation: beat 1.3s linear infinite;
}
@keyframes beat {
    0% {
        transform: scale(.70);
    }
    20% {
        transform: scale(1.20);
    }
    40% {
        transform: scale(.70);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(.76);
    }
    100% {
        transform: scale(.70);
    }
}
          .up-path{
            animation: up-pathAnim 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes up-pathAnim{
            0%{
              d: path("M 0,400 L 0,150 C 72.70512820512823,154.51282051282053 145.41025641025647,159.02564102564105 218,167 C 290.58974358974353,174.97435897435895 363.0641025641024,186.4102564102564 459,174 C 554.9358974358976,161.5897435897436 674.3333333333334,125.33333333333333 754,123 C 833.6666666666666,120.66666666666667 873.6025641025641,152.25641025641025 944,164 C 1014.3974358974359,175.74358974358975 1115.2564102564102,167.64102564102564 1203,162 C 1290.7435897435898,156.35897435897436 1365.371794871795,153.17948717948718 1440,150 L 1440,400 L 0,400 Z");
            }
            25%{
              d: path("M 0,400 L 0,150 C 67.09230769230771,189.4794871794872 134.18461538461543,228.95897435897436 225,224 C 315.8153846153846,219.04102564102564 430.3538461538461,169.64358974358973 522,168 C 613.6461538461539,166.35641025641027 682.4000000000001,212.46666666666667 748,221 C 813.5999999999999,229.53333333333333 876.0461538461536,200.4897435897436 957,190 C 1037.9538461538464,179.5102564102564 1137.4153846153847,187.57435897435897 1221,184 C 1304.5846153846153,180.42564102564103 1372.2923076923075,165.2128205128205 1440,150 L 1440,400 L 0,400 Z");
            }
            50%{
              d: path("M 0,400 L 0,150 C 66.78461538461539,143.6076923076923 133.56923076923078,137.2153846153846 217,147 C 300.4307692307692,156.7846153846154 400.5076923076923,182.74615384615385 475,178 C 549.4923076923077,173.25384615384615 598.4000000000001,137.79999999999998 692,120 C 785.5999999999999,102.20000000000002 923.8923076923077,102.05384615384617 1003,129 C 1082.1076923076923,155.94615384615383 1102.0307692307692,209.98461538461538 1165,218 C 1227.9692307692308,226.01538461538462 1333.9846153846154,188.0076923076923 1440,150 L 1440,400 L 0,400 Z");
            }
            75%{
              d: path("M 0,400 L 0,150 C 56.04615384615383,139.67692307692306 112.09230769230766,129.35384615384615 204,119 C 295.90769230769234,108.64615384615385 423.67692307692323,98.26153846153848 505,111 C 586.3230769230768,123.73846153846152 621.1999999999999,159.59999999999997 689,173 C 756.8000000000001,186.40000000000003 857.523076923077,177.33846153846156 942,179 C 1026.476923076923,180.66153846153844 1094.7076923076922,193.04615384615386 1175,190 C 1255.2923076923078,186.95384615384614 1347.646153846154,168.47692307692307 1440,150 L 1440,400 L 0,400 Z");
            }
            100%{
              d: path("M 0,400 L 0,150 C 72.70512820512823,154.51282051282053 145.41025641025647,159.02564102564105 218,167 C 290.58974358974353,174.97435897435895 363.0641025641024,186.4102564102564 459,174 C 554.9358974358976,161.5897435897436 674.3333333333334,125.33333333333333 754,123 C 833.6666666666666,120.66666666666667 873.6025641025641,152.25641025641025 944,164 C 1014.3974358974359,175.74358974358975 1115.2564102564102,167.64102564102564 1203,162 C 1290.7435897435898,156.35897435897436 1365.371794871795,153.17948717948718 1440,150 L 1440,400 L 0,400 Z");
            }
          }
          .down-path{
            animation: down-pathAnim 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes down-pathAnim{
            0%{
              d: path("M 0,400 L 0,150 C 97.2794871794872,188.67948717948718 194.5589743589744,227.35897435897436 274,204 C 353.4410256410256,180.64102564102564 415.0435897435897,95.24358974358975 486,99 C 556.9564102564103,102.75641025641025 637.2666666666668,195.66666666666666 717,199 C 796.7333333333332,202.33333333333334 875.8897435897434,116.08974358974359 967,93 C 1058.1102564102566,69.91025641025641 1161.174358974359,109.97435897435898 1242,130 C 1322.825641025641,150.02564102564102 1381.4128205128204,150.0128205128205 1440,150 L 1440,400 L 0,400 Z");
            }
            25%{
              d: path("M 0,400 L 0,150 C 94.27179487179487,120.85641025641024 188.54358974358973,91.7128205128205 260,97 C 331.45641025641027,102.2871794871795 380.09743589743596,142.00512820512822 447,159 C 513.902564102564,175.99487179487178 599.0666666666666,170.26666666666668 693,171 C 786.9333333333334,171.73333333333332 889.6358974358975,178.92820512820515 971,182 C 1052.3641025641025,185.07179487179485 1112.3897435897436,184.0205128205128 1187,178 C 1261.6102564102564,171.9794871794872 1350.8051282051283,160.9897435897436 1440,150 L 1440,400 L 0,400 Z");
            }
            50%{
              d: path("M 0,400 L 0,150 C 79.18974358974359,184.04102564102564 158.37948717948717,218.08205128205128 245,217 C 331.62051282051283,215.91794871794872 425.6717948717949,179.7128205128205 514,146 C 602.3282051282051,112.28717948717949 684.9333333333334,81.06666666666668 746,95 C 807.0666666666666,108.93333333333332 846.5948717948718,168.0205128205128 926,174 C 1005.4051282051282,179.9794871794872 1124.6871794871797,132.85128205128206 1217,120 C 1309.3128205128203,107.14871794871794 1374.6564102564103,128.57435897435897 1440,150 L 1440,400 L 0,400 Z");
            }
            75%{
              d: path("M 0,400 L 0,150 C 69.83333333333334,125.2923076923077 139.66666666666669,100.58461538461539 226,95 C 312.3333333333333,89.41538461538461 415.1666666666665,102.95384615384614 496,100 C 576.8333333333335,97.04615384615386 635.6666666666667,77.6 717,85 C 798.3333333333333,92.4 902.1666666666665,126.64615384615385 976,152 C 1049.8333333333335,177.35384615384615 1093.6666666666667,193.8153846153846 1166,192 C 1238.3333333333333,190.1846153846154 1339.1666666666665,170.0923076923077 1440,150 L 1440,400 L 0,400 Z");
            }
            100%{
              d: path("M 0,400 L 0,150 C 97.2794871794872,188.67948717948718 194.5589743589744,227.35897435897436 274,204 C 353.4410256410256,180.64102564102564 415.0435897435897,95.24358974358975 486,99 C 556.9564102564103,102.75641025641025 637.2666666666668,195.66666666666666 717,199 C 796.7333333333332,202.33333333333334 875.8897435897434,116.08974358974359 967,93 C 1058.1102564102566,69.91025641025641 1161.174358974359,109.97435897435898 1242,130 C 1322.825641025641,150.02564102564102 1381.4128205128204,150.0128205128205 1440,150 L 1440,400 L 0,400 Z");
            }
          }